@charset "UTF-8";
body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

:root {
  /* color */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-bcg-color: #f5f5f5;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --color-icon: #afb1b8;
  /* SHADOW */
  --shadow-footer: rgba(255, 255, 255, 0.1);
  --shadow-hero-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shadow-gallery: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --color-white-shadow: rgba(255, 255, 255, 0.6);
  --color-shadow-gallery: rgba(33, 150, 243, 0.9);
  /* CUBIK */
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 94px 0;
}

.title {
  color: var(--title-text-color);
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--accent);
  box-shadow: var(--shadow-hero-btn);
  transition: color 250ms var(--cubik);
}

.logo {
  color: var(--black-color);
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.navigation__logo {
  min-width: 145px;
  padding: 24px 0 25px 0;
}

.navigation__text {
  color: var(--accent);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer__text {
  color: var(--accent);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubik), visibility 250ms var(--cubik);
}

.modal {
  position: absolute;
  width: 528px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms var(--cubik);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--black-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 6px;
  cursor: pointer;
  outline: transparent;
  top: 8px;
  right: 8px;
  transition: fill 250ms var(--cubik), border 250ms var(--cubik);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent);
  border: 1px solid var(--accent);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* MODAL FORM */
.form {
  width: 448px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}
.form-field:last-child {
  margin-bottom: 0;
}

.form-field.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 11px;
  margin: 0;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border 250ms var(--cubik);
}
.form-input:focus {
  border: 1px solid var(--accent);
}
.form-input:focus + .modal-icon {
  fill: var(--accent);
}

.form-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-comment {
  margin-bottom: 20px;
}

.form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
}
.form-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea:focus {
  border: 1px solid var(--accent);
}

.modal-icon {
  display: inline-block;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--cubik);
}

.check-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.check-text .check-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  fill: transparent;
  transition: background-color 250ms var(--cubik), fill 250ms var(--cubik), border-color 250ms var(--cubik);
}

.form-check:checked + .check-text .check-meta {
  background-color: var(--accent);
  border-color: transparent;
  fill: var(--white-color);
}

.form-check:focus + .check-text .check-meta {
  border-color: var(--accent);
}

.check-desc {
  position: relative;
  color: var(--accent);
  margin-left: 10px;
}
.check-desc::after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 1px solid var(--accent);
  top: 18px;
  left: 0;
}

.form-btn {
  margin: 0 auto;
  padding: 10px 52px 10px 52px;
  transition: color 250ms var(--cubik);
}
.form-btn:hover, .form-btn:focus {
  color: var(--title-text-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

/*                       menu */
.menu {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.menu__link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubik);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent);
}

.menu__text {
  color: var(--accent);
}
.menu__text::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 29px;
  background-color: var(--accent);
  border-radius: 2px;
}

/*                            connect */
.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 50px;
}

.connect__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubik);
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent);
}

/*                                          icon */
.connect__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: color 250ms var(--cubik);
}
.connect__link:hover .connect__icon, .connect__link:focus .connect__icon {
  fill: var(--accent);
}

.hero {
  color: var(--white-color);
  text-align: center;
  padding: 200px 0;
  margin: 0;
  background-color: var(--footer-bcg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: block;
  max-width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 10px 32px;
  margin: 0 auto;
  min-width: 216px;
}
.hero-btn:hover, .hero-btn:focus {
  color: var(--title-text-color);
}

.about__list {
  display: flex;
  gap: 30px;
}

.about__item {
  width: calc((100% - 90px) / 4);
}

.about__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about__text {
  max-width: 270px;
  line-height: 1.71;
}

/* About-icon */
.about__wrap {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--secondary-bcg-color);
  margin-bottom: 30px;
}

.work.section {
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  display: block;
}

.work-section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-subtitle {
  position: absolute;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 70px;
}

.work-thumb {
  position: relative;
}

.team {
  background-color: var(--secondary-bcg-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--white-color);
  box-shadow: var(--shadow-team);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 30px 0;
}

.team-section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

/* team-SOC========== */
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-icon);
  transition: color 250ms var(--cubik), background-color 250ms var(--cubik);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent);
  color: var(--white-color);
}

.team-soc-icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  width: calc((100% - 150px) / 6);
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-icon);
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms var(--cubik);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--accent);
}

.clients-icon {
  transition: fill 250ms var(--cubik);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: var(--accent);
}

.content-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.content-btn {
  display: inline-block;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: 0;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--secondary-bcg-color);
  transition: color 250ms var(--cubik), box-shadow 250ms var(--cubik), background-color 250ms var(--cubik);
}
.content-btn:hover, .content-btn:focus {
  background-color: var(--accent);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  display: block;
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}
.gallery-item:hover, .gallery-item:focus {
  box-shadow: var(--shadow-gallery);
}

.gallery-link {
  transition: box-shadow 250ms var(--cubik);
}

.gallery-title {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
}

.gallery-content {
  padding: 20px 24px;
}

.gallery-thumb {
  position: relative;
  overflow: hidden;
}

.gallery-text-thumb {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--color-shadow-gallery);
  color: var(--white-color);
  transform: translateY(100%);
  transition: transform 250ms var(--cubik);
}
.gallery-link:hover .gallery-text-thumb, .gallery-link:focus .gallery-text-thumb {
  transform: translateY(0);
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-bcg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.address {
  font-style: normal;
}

.address__list .address__item + .address__item {
  margin-top: 9px;
}

.address__contact,
.address__link {
  line-height: 1.71;
}

.address__link {
  color: var(--white-color);
}

.address__contact {
  color: var(--color-white-shadow);
  transition: color 250ms var(--cubik);
}
.address__contact:hover, .address__contact:focus {
  color: var(--accent);
}

/*                                 =========JOIN */
.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.join__list {
  display: flex;
  justify-content: center;
  width: 206px;
  gap: 10px;
}

.join__item {
  width: calc((100% - 30px) / 4);
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--shadow-footer);
  fill: var(--white-color);
  transition: background-color 250ms var(--cubik);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent);
}

/*                                     SUBSCRIPTION ========== */
.subscription__title {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.subscription__field {
  display: flex;
  align-items: center;
}

.subscription__input {
  display: inline-block;
  width: 358px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--footer-bcg-color);
  color: var(--white-color);
  outline: transparent;
  padding: 15px 16px;
}
.subscription__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  margin-left: 12px;
  padding: 10px 28px 10px 28px;
  transition: color 250ms var(--cubik);
}
.subscription__btn:hover, .subscription__btn:focus {
  color: var(--title-text-color);
}

.subscription__icon {
  margin-left: 10px;
  fill: var(--white-color);
  transition: fill 250ms var(--cubik);
}
.subscription__btn:hover .subscription__icon, .subscription__btn:focus .subscription__icon {
  fill: var(--title-text-color);
}/*# sourceMappingURL=main.css.map */