.about__list {
    display: flex;
    gap: 30px;
}

.about__item {
    width: calc((100% - 3 * 30px) / 4);
}

.about__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.about__text {
    max-width: 270px;
    line-height: 1.71;
}

/* About-icon */

.about__wrap {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background-color: var(--secondary-bcg-color);
    margin-bottom: 30px;
}