.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    align-items: center;
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 0 auto;

    @include tablet {
        display: flex;
        align-items: center;
    }

    @include desktop {
        display: flex;
        align-items: center;
        width: 1200px;
    }
}

.navigation {
    display: flex;
}

/*                       menu */
.menu {

    @media screen and (max-width: 767px) {
        display: none;
    }

    @include tablet {
        display: flex;
        gap: 50px;
        margin-left: 88px;
    }

    @include desktop {
        display: flex;
        gap: 50px;
        margin-left: 93px;
    }
}

.menu__link {
    position: relative;
    display: block;
    padding: 32px 0;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--cubik);

    &:hover,
    &:focus {
        color: var(--accent);
    }
}

.menu__text {
    color: var(--accent);

    &::after {
        content: '';
        position: absolute;
    
        display: block;
        width: 100%;
        height: 4px;
        
    
        background-color: var(--accent);
        border-radius: 2px;

        @include tablet {
            margin-top: 30px;
        }

        @include desktop {
            margin-top: 29px;
        }
    }
}

/*                            connect */
.connect {
    @media screen and (max-width: 767px) {
        display: none;
    
    }

    @include tablet {
        margin-left: auto;
    }

    @include desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        gap: 50px;
    }
}

.connect__item:not(:last-child) {
    
    @media screen and (max-width: 1199px) {
        margin-bottom: 10px;
    }
}


.connect__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms var(--cubik);

    &:hover,
    &:focus {
        color: var(--accent);
    }

    @include tablet {
        padding: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        justify-content: flex-start;

        transition: color 250ms var(--cubik);
    }

    @include desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
        
        transition: color 250ms var(--cubik);

        padding: 32px 0;
    }
}

/*                                          icon */
.connect__icon {
    fill: var(--primary-text-color);
    transition: color 250ms var(--cubik);

    .connect__link:hover &,
    .connect__link:focus & {
        fill: var(--accent);
    }

    @include tablet {
        margin-right: 8px;
    }

    @include desktop {
        margin-right: 10px;
    }

}


//                                      MOBILE MENU

.mobile-menu {
    position: fixed;
    top: 0;
    background-color: var(--white-color);
    width: 100vw;
    height: 100vh;
    z-index: 1;

    // padding: 48px 15px 48px 15px;

    >.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    }

    @include tablet {
        display: none;
    }
}

.menu-button {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: 0;
    padding: 0;

    @include tablet {
        display: none;
    }
}

.mobile-menu__menu {
    margin-bottom: 302px;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.mobile-menu__text {
    color: var(--accent);
}

.mob-menu__top {
    position: relative;
    padding: 40px 10px 0 10px ;

    @include mobile {
        padding: 48px 15px 0 15px;
    }
}

.menu-button-cross {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover,
    &:focus {
        fill: var(--accent);
    }
}





.mob-menu__bottom {
    padding: 0 10px 40px 10px;
    @include mobile {
        padding: 0 15px 48px 15px;
    }
}

.mobile-connect {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
        margin-bottom: 64px;
    }
    
}

.mobile-connect__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);
}

.mobile-soc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    @include mobile {
        display: flex;
        justify-content: flex-start;
    }
}

.mobile-soc__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent);

    @media screen and (max-width: 479px) {
        font-size: 12px;
        line-height: 1.22;
    }
}

.mobile-soc__line {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}

.mobile-connect__tel {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent);

    @include mobile {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--accent);
    }
}
