.logo {
    color: var(--black-color);

    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    @media screen and (max-width: 1199px) {
            font-size: 24px;
        }
}

.navigation__logo {
    min-width: 145px;
    
    padding: 16px 0 16px;

    @include tablet {
        padding: 26px 0 26px 0;
    }

    @include desktop {
        padding: 24px 0 25px 0;
    }
}

.navigation__text {
    color: var(--accent);
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--white-color);
}

.footer__text {
    color: var(--accent);
}