.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms var(--cubik), visibility 250ms var(--cubik);
}

.modal {
    position: absolute;
    width: 528px;

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms var(--cubik);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    fill: var(--black-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px 6px;
    cursor: pointer;
    outline: transparent;

    top: 8px;
    right: 8px;

    transition: fill 250ms var(--cubik), border 250ms var(--cubik);

    &:hover,
    &:focus {
        fill: var(--accent);
        border: 1px solid var(--accent);
    }
}



.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* MODAL FORM */

.form {
    width: 448px;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 12px;
}

.form-field {
    position: relative;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.form-field.checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 11px;
    margin: 0;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    transition: border 250ms var(--cubik);

    &:focus {
        border: 1px solid var(--accent);
    }

    &:focus+.modal-icon {
        fill: var(--accent);
    }
}

.form-lable {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
}

.form-comment {
    margin-bottom: 20px;
}

.form-textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: transparent;

    &::placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        border: 1px solid var(--accent);
    }
}

.modal-icon {
    display: inline-block;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    fill: var(--title-text-color);

    top: 50%;
    left: 12px;
    transition: fill 250ms var(--cubik);
}

.check-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}

.check-text .check-meta {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;
    fill: transparent;
    transition: background-color 250ms var(--cubik), fill 250ms var(--cubik),
        border-color 250ms var(--cubik);
}

.form-check:checked + .check-text .check-meta {
    background-color: var(--accent);
    border-color: transparent;
    fill: var(--white-color);
}

.form-check:focus + .check-text .check-meta {
    border-color: var(--accent);
}

.check-desc {
    position: relative;
    color: var(--accent);
    margin-left: 10px;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        border-bottom: 1px solid var(--accent);
        top: 18px;
        left: 0;
    }
}

.form-btn {
    margin: 0 auto;
    padding: 10px 52px 10px 52px;
    transition: color 250ms var(--cubik);

    &:hover,
    &:focus {
        color: var(--title-text-color);
    }
}

