body {
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.container {
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 0 auto;

    @include mobile {
        width: 480px;
    }

    @include tablet {
        width: 768px;
    }

    @include desktop {
        width: 1200px;
    }
}

